.h1_name h1 {
    font-family: Arial, sans-serif;
    color: #e70e19;
    font-size: 18pt;
    font-weight: 800;
    white-space: nowrap;
    margin-left: 15px;
    margin-bottom: 0px;
}

h3 {
    font-family: Arial, sans-serif;
    color: #d10c15;
    font-size: 14pt;
    font-weight: 800;
    white-space: nowrap;
    margin-left: 15px;
    margin-bottom: 10px;
}

.main-img {
    margin-left: 15px;
    width: 500px;
    height: 200px;
    position: relative;
    background-image: url("/img/promo2.jpg");
    background-size: cover;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
}

input {
    width: 500px;
    height: 200px;
}

.main-img::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-image: url("/img/load_img.png");
    background-size: cover;
    opacity: 0;
    border-radius: 10px;
}

.main-img:hover:after {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}