header {
    margin-left: 15px;
    margin-right: 15px;
}

.top_header {
    display: flex;
    justify-content: space-between;
}

.top_header>.logo {
    display: block;
    justify-content: center;
}

.cart {
    display: none;
}

.top_header>.lip_date {
    display: block;
    align-self: center;
    padding: 0;
    display: block;
    color: #e70e19;
    font-size: 11px;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 0px;
}

.top_header .lip_date>.date_time {
    padding: 0;
    display: block;
    color: #fb6c72;
    font-size: 9px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 3px;
}

#myBtn {
    display: none;
}


/*NAVIGATION BAR*/

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

header ul li {
    display: inline-block;
    font-family: Arial, sans-serif;
    color: #e70e19;
    font-size: 9pt;
    font-weight: 800;
    font-stretch: narrower;
    white-space: nowrap;
    vertical-align: middle;
}

header ul .cart_li {
    display: inline-block;
}

header ul li p {
    line-height: 8px;
}

header a {
    display: block;
    padding-right: 3vmax;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #e70e19;
    font-size: 9pt;
    font-weight: 800;
    white-space: nowrap;
}

header a:hover {
    color: rgb(232, 118, 94);
}

header .menu_nav {
    display: none;
}


/*NAVIGATION BAR*/


/*CONTENT*/

.content {
    display: flex;
}

.content .news {}

.content .promo_ltz {
    margin-left: 5px;
    display: inline-block;
}

.content .promo_ltz .ltz1 {
    width: 205px;
    height: 193px;
}

.content .promo_ltz .ltz1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .promo_ltz .ltz2 {
    margin-top: 5px;
    width: 205px;
    height: 122px;
}

.content .promo_ltz .ltz2>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.content .buy_now {
    display: none;
}


/*CONTENT*/


/*FOOTER*/

footer {
    border: none;
    margin-top: -100px;
    height: 100px;
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
}

footer .outline {
    content: '';
    width: 100%;
    height: 3px;
    border: none;
    background-color: #ea121e;
}

footer .hotlog {
    margin-top: 1px;
    border: solid #faafb2;
    border-width: 4px 3px 4px 3px;
}


/*FOOTER*/


/*APAPTIVE*/

@media screen and (max-width: 830px) {
    header {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .top_header {
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    header .navbar>.menu {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    header .top_header .lip_date {
        display: block;
        align-self: center;
        padding: 0;
        display: block;
        color: #e70e19;
        font-size: .5rem;
        font-weight: bold;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 0px;
        margin-right: 3vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 100%;
    }
    header .top_header .lip_date .date_time {
        font-size: .5rem;
    }
    header .contacts {
        height: 100%;
        margin-right: 3vw;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    header .contacts>p {
        line-height: 6px;
        padding: 0;
        font-size: .5rem;
    }
    header .contacts p>a {
        font-size: .55rem;
    }
    .logo {
        display: block;
        /*top: 2vh;
        bottom: 100%;*/
        transform: scale(0.9);
    }
    header .navbar>.menu_nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header a {
        display: block;
        padding-right: 0;
        padding-left: 0;
    }
    .menu_1 {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: start;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    .menu_1 li {
        width: 50%;
        box-shadow: 0px 1px 1px 0px rgb(146 161 176 / 55%);
    }
    .menu_1 a {
        margin-right: 100%;
        padding-left: 30%;
    }
    .menu_2 {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: start;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    .menu_2 li {
        width: 50%;
        box-shadow: 0px 1px 1px 0px rgb(146 161 176 / 55%);
    }
    .menu_2 a {
        margin-right: 100%;
        padding-left: 30%;
    }
    .menu_3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        box-shadow: 0px 1px 1px 0px rgb(146 161 176 / 55%);
    }
    .lip_date {
        margin-right: 15px;
    }
    header ul li {
        display: inline-block;
        font-family: Arial, sans-serif;
        color: #e70e19;
        font-size: 9pt;
        font-weight: 800;
        font-stretch: narrower;
        justify-content: center;
        line-height: 30px;
    }
    header a:hover {
        font-size: 12px;
        font-weight: 800;
    }
    .cart {
        display: block;
        width: 100%;
        height: 100%;
    }
    .cart img {
        width: 40px;
    }
    .content {
        display: block;
    }
    .content .news {
        flex: 0 0 33.333%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content .news>img {
        max-width: 100%;
        display: block;
    }
    .content .promo_ltz {
        display: block;
        margin-left: 0;
    }
    .content .promo_ltz * {
        margin-top: 5px;
    }
    .content .promo_ltz .ltz1 {
        flex: 0 0 33.333%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content .promo_ltz .ltz1>img {
        max-width: 100%;
        display: block;
    }
    .content .promo_ltz .ltz2 {
        flex: 0 0 33.333%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content .promo_ltz .ltz2>img {
        max-width: 100%;
        display: block;
    }
    .content .buy_now {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content .buy_now::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        box-shadow: 2px 0px 10px 0px rgb(146 161 176 / 45%);
    }
    /*.content .buy_now::before {
        content: '';
        z-index: 1;
        background-image: url('/img/original.jpeg');
        background-size: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: 0px -30px;
        filter: blur(3px);
        position: absolute;
    }*/
    .content .buy_now .promo_text {
        z-index: 2;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color: #ececec;
        font-size: 16pt;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
        font-stretch: narrower;
        text-shadow: 3px 3px 5px rgb(0 0 0 / 45%);
    }
    .btn {
        z-index: 2;
        display: flex;
        justify-content: center;
        position: relative;
        text-decoration: none;
        color: #fff;
        font-family: Arial, sans-serif;
        background-color: #e70e19;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.45);
        text-shadow: 3px 3px 5px rgb(0 0 0 / 45%);
        padding: 10px 1px;
        border-radius: 5px;
        font-weight: 700;
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn:hover {
        background-color: #b30e16;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 5px;
        object-fit: cover;
    }
    #myBtn>img {
        width: 40px;
        height: 40px;
    }
}


/*APAPTIVE*/