html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 20px;
    margin-bottom: 0px;
    flex: 1 1 auto;
    display: inline-flex;
}

.content .img {
    width: 40%;
    height: 25rem;
    box-shadow: 0px 1px 5px #ccc;
    /*margin-right: 15px;*/
}

.content .img .main {
    width: 100%;
    height: 25rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .5);*/
}

.content .img .magnifier {
    width: 15rem;
}

.content .img .magnifier img {
    box-shadow: none;
    height: auto;
}

.content .gallery6 {
    width: 8rem;
    height: 30rem;
    box-shadow: 0px 1px 5px #ccc;
    /*
    margin-right: 15px;
    margin-left: 10px;
    */
}

.content .gallery5 {
    width: 8rem;
    height: 25rem;
    box-shadow: 0px 1px 5px #ccc;
    /*
    margin-right: 15px;
    margin-left: 10px;
    */
}

.content .gallery4 {
    width: 8rem;
    height: 20rem;
    box-shadow: 0px 1px 5px #ccc;
    /*
    margin-right: 15px;
    margin-left: 10px;
    */
}

.content .gallery3 {
    width: 8rem;
    height: 15rem;
    box-shadow: 0px 1px 5px #ccc;
    /*
    margin-right: 15px;
    margin-left: 10px;
    */
}

.content .gallery2 {
    width: 8rem;
    height: 10rem;
    box-shadow: 0px 1px 5px #ccc;
    /*
    margin-right: 15px;
    margin-left: 10px;
    */
}

.content .gallery1 {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    /*
    margin-right: 15px;
    margin-left: 10px;
    */
}

.content .gallery6 img {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .7);*/
}

.content .gallery5 img {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .7);*/
}

.content .gallery4 img {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .7);*/
}

.content .gallery3 img {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .7);*/
}

.content .gallery2 img {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .7);*/
}

.content .gallery1 img {
    width: 8rem;
    height: 5rem;
    box-shadow: 0px 1px 5px #ccc;
    object-fit: cover;
    /*border: 3px solid rgba(204, 204, 204, .7);*/
}

.content .title {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    /*margin-left: 10px;*/
}

.content .title p {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #e70e19;
}

#redirect:hover {
    color: #b80c15;
}

.ie_core {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.ie_core a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ie_1 {
    display: flex;
    align-items: center;
}

.ie_2 {
    display: flex;
    align-items: center;
}

.ie_core b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    padding-right: 15px;
}

.ie_core img {
    padding-left: 15px;
    padding-right: 15px;
}

#description {
    font-style: italic;
    max-width: 1000px;
}

.divider {
    content: '';
    width: 1px;
    height: 25rem;
    border: none;
    background-color: #ccc;
    margin-left: 15px;
    margin-right: 15px;
}

.title_vertical {
    display: none;
}

.content .left_arrow {
    display: none;
}

.content .right_arrow {
    display: none;
}

@media screen and (max-width: 1080px) {
    .content .img .magnifier {
        width: 10rem;
    }
    .content {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .content .img {
        width: 100%;
        box-shadow: 0px 1px 5px #ccc;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .content .img .main {
        width: 100%;
        height: 25rem;
        box-shadow: 0px 1px 5px #ccc;
        object-fit: cover;
    }
    .divider {
        display: none;
        content: '';
        width: 20rem;
        height: 1px;
        border: none;
        background-color: #ccc;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .content .gallery6 {
        display: none;
    }
    .content .gallery5 {
        display: none;
    }
    .content .gallery4 {
        display: none;
    }
    .content .gallery3 {
        display: none;
    }
    .content .gallery2 {
        display: none;
    }
    .content .gallery1 {
        display: none;
    }
    .magnifier {
        position: relative;
        margin-top: -5px;
    }
    .title {
        display: none;
    }
    .title_vertical {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: #222222;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .content .left_arrow {
        display: block;
        width: 50px;
        height: 50px;
        box-shadow: none;
        margin: 0;
        position: absolute;
        top: 12rem;
        left: 1rem;
        fill: white;
    }
    .content .right_arrow {
        display: block;
        width: 50px;
        height: 50px;
        box-shadow: none;
        margin: 0;
        position: absolute;
        top: 12rem;
        right: 1rem;
        fill: white;
    }
}